@import url(http://fonts.googleapis.com/css?family=Muli);

body, html, main {
    height: 100%;
    background-color: #EEEEEE;
    color: #424242;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: #000;
}
a.up-button {
    position: fixed;
    bottom: 20px;
    right: 0px;
    z-index: 2;
    transition: transform 200ms ease-out;
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
}
img#up-btn-img {
    width: 100px;
    height: 100px;
}
div.header {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}
div#navbar {
    height: 100%;
    width: 18%;
    margin-right: 10px;
/*    float: left;*/
    position: fixed;
/*    flex-grow: 1;*/
}
div#navbar ul {
    top: 50%;
    transform: translateY(-50%);
    list-style: none;
    padding: 0;
    margin: 0 auto auto 0;
}
div#navbar ul.group li:not(#magic-line) {
    padding: 0 5px 5px 0;
    margin: 0 10px 10px 0;
}
#navbar a {
    margin: 20px;
    margin-top: 12px;
    font-size: 24px;
    color: #424242;
    font-weight: 600;
}
div.page-body {
    width: 84%;
/*    flex-grow: 5;*/
    float: right;
}
div.main-body {
/*    display: flex;*/
    display: inline-block;
    position: relative;
}
#magic-line { 
    position: absolute; 
    left: 0; 
    width: 100px; 
    height: 2px; 
    background: #fff; 
}
div#my-name {
    position: absolute;
    display: block;
    top: 20%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
    color: #fff;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    font-size: 350%;
    text-shadow: 0 0 28px #000; /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow: 0 0 2px #000;
    -webkit-text-shadow: 0 0 2px #000;
}
div#icons {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 8px;
    margin-bottom: 10px;
}
.icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: 7px;
    margin-right: 7px;
    opacity: 0.8;
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.icon:after {
    content: "";
    border-radius: 5px;
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
}
.icon:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25)
}
.icon:hover:after {
    opacity: 1
}
img.icon.facebook {
    margin-right: 20px;
}
img.icon.linkedin {
    margin-right: 115px;
}
img.icon.bitbucket {
    margin-left: 115px;
}
img.icon.github {
    padding: 5px;
    background-color: black;
    margin-left: 20px;
}
@media (max-width: 530px) {
    img.icon { 
        width: 40px;
        height: 40px;
        margin-left: 4px;
        margin-right: 4px;
    }
    img.icon.linkedin {
        margin-right: 60px;
    }
    img.icon.facebook {
        margin-right: 10px;
    }
    img.icon.github {
        margin-left: 10px;
    }
}
img#skyline {
    display: block;
    width: 100%;
    height: 350px;
    z-index: 0;
}
p.info {
    font-weight: 200;
    font-size: 17px;
    margin-left: 10%;
    margin-right: 10%;
}
img#android-img {
    width: 50px;
    height: 50px;
}
.aboutme {
    text-align: center;
/*    float: left;*/
/*    width: 33%;*/
    margin-bottom: 25px;
    border-right: dotted 1px #000;
}
.learning {
    text-align: center;
/*    width: 33%;*/
/*    float: left;*/
    margin-bottom: 25px;
    border-right: dotted 1px #000;
}
.work {
    text-align: center;
/*    width: 33%;*/
/*    float: left;   */
    margin-bottom: 25px;
}
.info-section {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-bottom: 20px;
}
.info-section .col {
    flex: 1;
    min-width: 300px;
}
div#profile-style {
    display: block;
    height: 160px;
    width: 160px;
    position: relative;
    margin-top: -80px;
    margin-left: auto;
    margin-right: auto;
}
.profile-border-circle {
    position: absolute;
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #EEEEEE;
}
img#mypic {
    position: absolute;
    display: block;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 5px 10px 1px #424242;
    -webkit-box-shadow: 3px 5px 10px 1px #424242;
    -moz-box-shadow: 3px 5px 10px 1px #424242;
}
#contact-me > img {
    width: 50px;
    height: 50px;
    opacity: 0.8;
}
/*
.clear-out {
    animation: scaleClear 0.6s ease-in;
    -webkit-animation: scaleClear 0.6s ease-in;
}
*/
#contact-me > img:hover {
    opacity: 1;
/*
    animation: scaleBlack 0.6s ease-out;
	-webkit-animation: scaleBlack 0.6s ease-out;

	visibility: visible !important;	
    opacity: 0.6;
*/
}
#modal {
    position: fixed;
    text-align: center;
    border-radius: 4px;
    z-index: 1000;
    width: 300px;
    height: auto;
    left: 50%;
    transform: translate(-50%, 0);
    background: #FFF;
    padding: 10px;
}
input[name="_gotcha"] {
    visibility: hidden;
}
.modal-view {
    top: -600px;    
    visibility: hidden;
    
    -moz-transition: all 600ms ease;
    -webkit-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
    
    -moz-transform: translate3d(0px, -600px, 0px);
    -webkit-transform: translate3d(0px, -600px, 0px);
    -o-transform: translate(0px, -600px);
    -ms-transform: translate(0px, -600px);
    transform: translate3d(0px, -600px, 0px);    
} 
.modal-in-view {
    top: 20%;
    visibility: visible !important;
    
    -moz-transition: all 600ms ease;
    -webkit-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
    
    -moz-transform: translate3d(0px, 20%, 0px);
    -webkit-transform: translate3d(0px, 20%, 0px);
    -o-transform: translate(0px, 20%);
    -ms-transform: translate(0px, 20%);
    transform: translate3d(0px, 20%, 0px);
}
#modal form {
    text-align: center;
    display: block;
    width: 100%;
    margin: auto;
}
#modal form * {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    border: solid 2px #BDBDBD;
    border-radius: 4px;
    overflow: auto;
    outline: none;
    resize: none;
}
#modal-send-btn {
    font-size: 18px;
    color: #E1F5FE;
    background-color: #00B0FF;
    border: solid 2px #00B0FF !important;
}
#close-modal {
    display: block;
    color: #FCE4EC;
    background-color: #EC407A;
    border: 0 !important;
}
.success-message h3 {
    margin: auto;
    padding: 10px;
}
@keyframes scaleBlack {
	0% {
		opacity: 0.0;		
	}
	100% {
		opacity: 0.6;	
	}		
}
@keyframes scaleClear {
    0% {
        opacity: 0.6;
    }
    100% {
        opacity: 0.0;
    }
}
@-webkit-keyframes scaleBlack {
	0% {
		opacity: 0.0;		
	}
	100% {
		opacity: 0.6;	
	}		
}
@-webkit-keyframes scaleClear {
    0% {
        opacity: 0.6;
    }
    100% {
        opacity: 0.0;
    }
}
img.section-img {
    opacity: 0.7;
}
.section-header {
/*    display: inline-block;*/
    
}
/* SECTION HEADER */
.left-divider {
    display: inline-block;
    background: #000000;
    width: 6px;
    height: 60px;
    margin-left: 20px;
    margin-bottom: -15px;
}
div.section-header h1 {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    display: inline;
}

/* RESUME */
div.resume-block {
    position: relative;
}
.download-block {
    position: absolute;
    top: 30px;
    right: 70px;
    z-index: 2;
}
a.download-btn {
    width: 140px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 22px;
    right: 100px;
    color: #fff;
}
.download-btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
    color: white;
}
.black {
    background-color: #424242;
    box-shadow: 0px 5px 0px 0px #616161;
}
.black:hover {
    color: white;
    background-color: #757575;
}
.resume-block {
    position: absolute;
    margin: 50px;
}
img#resume {
    display: block;
    width: 100%;
    height: 100%;
    border-style: ridge;
    border-radius: 1%;
    border: 8px solid #333;
    box-shadow: 3px 5px 10px 1px #424242;
}
div#temp-android {
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

h1#coming-soon-header {
    position: absolute;
    text-align: center;
    display: block;
    width: 300px;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-weight: 500;
}

img#android-project {
    position: absolute;
    display: block;
    width: 200px;
    left: 50%;
    transform: translate(-50%, 0);
}
.app-card {
    font-size: 24px;
    font-weight: 200;    
    width: 250px;
    height: 280px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    -webkit-box-shadow: 2px 2px 2px 2px #BDBDBD;
    -moz-box-shadow: 2px 2px 2px 2px #BDBDBD;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.12), 
                0px 1px 3px 0px rgba(0,0,0,0.24);
}
.app-card > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.app-card:hover {
    -webkit-box-shadow: 2px 2px 2px 2px #BDBDBD;
    -moz-box-shadow: 2px 2px 2px 2px #BDBDBD;
    box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.12), 
                1px 4px 5px 0px rgba(0,0,0,0.24);   
    transition: box-shadow 0.2s;
}
.app-card.android {
    background: url(images/icons/android_watermark.png); 
}
.app-card.android img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 180px;
    height: 180px;
}
.app-card.apple {
    background: url(images/icons/apple_watermark.png) no-repeat;
    background-position: center;
}
.app-card.django {
    background: url("images/icons/django_watermark.png") no-repeat;
    background-size: 100% auto;
    background-color: #86AD95;
    background-position: center;
}
.app-card.django img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
.project-section {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;    
    display: flex;
    flex-wrap: wrap;
}
.project-section > a {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    width: 20%;               /* For old syntax, otherwise collapses. */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;  
    position: relative;
}
a.app_redirect_button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px;
}
a.app_redirect_button:active {
    transform: translate(0px, 2px);
    -webkit-transform: translate(0px, 2px);
    box-shadow: 0px 1px 0px 0px;
}
a.app_redirect_button.android {
    border: 2px solid #689F38;
    background-color: #8BC34A;
    box-shadow: 0px 4px 0px 0px #689F38;
}
a.app_redirect_button.android:active {
    background-color: #689F38;
}
a.app_redirect_button.apple {
    border: 2px solid #424242;
    background-color: #757575;
    box-shadow: 0px 4px 0px 0px #424242;
}
a.app_redirect_button.apple:active {
    background-color: #424242;
}
a.app_redirect_button.django {
    border: 2px solid #336644;
    background-color: #44885B;
    box-shadow: 0px 4px 0px 0px #336644;
}
a.app_redirect_button.django:active {
    background-color: #336644;
}

.scroll-view-animate-elem {
    opacity: 0;
    -moz-transition: all 700ms ease-out;
    -webkit-transition: all 700ms ease-out;
    -o-transition: all 700ms ease-out;
    transition: all 700ms ease-out;
    
    -moz-transform: translate3d(0px, 200px, 0px);
    -webkit-transform: translate3d(0px, 200px, 0px);
    -o-transform: translate(0px, 200px);
    -ms-transform: translate(0px, 200px);
    transform: translate3d(0px, 200, 0px);
    
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.scroll-view-animate-elem.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}
.parallax-fixed-bg {
    height: 175px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center center;
    margin-bottom: 15px;
    margin-right: 15px;
}
.parallax-fixed-bg h1 {
    color: white;    
    text-align: center;
    vertical-align: middle;
    line-height: 175px;
}
.parallax-fixed-bg.fixed-bg-1 {
    background-image: url("images/new-york-city-grayscale.png");
}
.parallax-fixed-bg.fixed-bg-2 {
    background-image: url("images/brooklyn-bridge-high-res-progressive.jpeg");
    filter: sepia(0.65);
    -webkit-filter: sepia(0.65);
    -moz-filter: sepia(0.65);
    -o-filter: sepia(0.65);
    -ms-filter: sepia(0.65);
}
.parallax-fixed-bg.fixed-bg-3 {
    background-image: url("images/new-york-city-night-progressive.jpeg");
    filter: sepia(0.65);
    -webkit-filter: sepia(0.65);
    -moz-filter: sepia(0.65);
    -o-filter: sepia(0.65);
    -ms-filter: sepia(0.65);
}
parallax-scrolling-bg {
    min-height: 100%;
}
/* FOOOTER */
footer {
    
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #333;
    text-align: center;
    font-size: 20px;
    color: #FFF;
    margin-top: 10px;
}